.form-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
  }
  .card-header{
    margin-bottom: 15px;
  }